{% extends "_layout.html" %}

{% block content %}
<div class="ground" style="height: 1450px;">
    <div class="back" style="height: 1150px;">
        <div class="row mb-2"></div>
        <div class="location">
            <div class="row mb-2"></div>
            <div class="location">
                <div class="main-text">
                    {{name}}
                </div>
                <hr>
                <div class="glossariytydanajldkas">
                    <div class="backmob" id="mob">
                        <span style="font-weight: 700;">Моб</span> - наименование существ в одноимённой игре Minecraft.
                    </div>
                    <div class="row mb-2"></div>
                    <div class="backmob" id="mine">
                        <span style="font-weight: 700;">Minecraft</span> - компьютерная инди-игра в жанре песочницы,
                        созданная шведским программистом Маркусом Перссоном и выпущенная его студией Mojang AB.
                    </div>
                    <div class="row mb-2"></div>
                    <div class="backmob" id="poroh">
                        <span style="font-weight: 700;">Порох</span> - предмет, выпадающий с крипера, выглядит как серый
                        порошок, является прямой отсылкой на реальную субстанцию под названием порох, служит для
                        создания
                        динамита.
                    </div>
                    <div class="row mb-2"></div>
                    <div class="backmob" id="plast">
                        <span style="font-weight: 700;">Пластинка</span> - предмет, выпадающий с крипера при убийстве
                        его
                        скелетом, является редким предметом. С помощью проигрывателя и пластинки можно послушать музыку.
                    </div>
                    <div class="row mb-2"></div>
                    <div class="backmob" id="chcrpr">
                        <span style="font-weight: 700;">Заряженный крипер</span> - разновидность криперов, которые
                        появляются
                        при ударе молнией, являются усиленной версией обычного крипера.
                    </div>
                    <div class="row mb-2"></div>
                    <div class="backmob" id="notch">
                        <span style="font-weight: 700;">Нотч</span> - Ма́ркус Алексе́й Пе́рссон (род. 1 июня 1979 года,
                        Стокгольм, Швеция), также
                        известный под ником Notch — шведский программист и гейм-дизайнер, бывший владелец компании
                        Mojang Studios. Является создателем популярной компьютерной игры Minecraft.
                    </div>
                    <div class="row mb-2"></div>
                    <div class="backmob" id="dimens">
                        <span style="font-weight: 700;">Измерение</span> - в майнкрафте измерение представляет собой
                        пространство которое
                        находится в другом мире. В основном туда попадают с помощью порталов.
                    </div>
                    <div class="row mb-2"></div>
                    <div class="backmob" id="hell">
                        <span style="font-weight: 700;">Нижний мир</span> - измерение являющееся адом в игре Minecraft.
                    </div>
                    <div class="row mb-2"></div>
                    <div class="backmob" id="portal">
                        <span style="font-weight: 700;">Портал</span> - структура позволяющая телепортироваться игроку
                        между измерениями.
                    </div>
                    <div class="row mb-2"></div>
                    <div class="backmob" id="block">
                        <span style="font-weight: 700;">Блок</span> - единица измерения в майнкрафте, численно равная 1
                        метру.
                    </div>
                    <div class="row mb-2"></div>
                    <div class="row mb-2"></div>
                    <div class="backmob" id="villager">
                        <span style="font-weight: 700;">Жители</span> - вид дружелюбных мобов в майнкрафте, живут в
                        основном в деревнях, но также можно найти просто бегая по миру.
                    </div>
                    <div class="row mb-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottombot">
    <div class="navbot">
        {% for item in nav %}
        <li class="nav-item">
            <a class="nav-link {% if item.title == name %} active {% endif %}" aria-current="page"
                href="{{ item.URL }}">{{ item.title }}</a>
        </li>
        {% endfor %}
        <div>Created by Innokentiy Kazarin</div>
    </div>
</div>
{% endblock %}