{% extends "_layout.html" %}

{% block content %}
<div class="ground" style="height: 1200px;">
    <div class="back" style="height: 1050px;">
        <div class="row mb-2"></div>
        <div class="location">
            <div class="main-text">
                {{name}}
           </div>
           <hr>
           <div class="mob_head">
                <div style="padding-left: 65px;">Фото</div>
                <div>Имя моба</div>
                <div style="padding-right: 38px;">Версия</div>
           </div>
           <hr>
           <div class="mob">
                <img class="mob_image" src="/static/skelet.jpg" alt="СКЕЛЕТ">
                <a class="mob_selector" href="/skeleton"> СКЕЛЕТ </a>
                <div class="version">0.24</div>
           </div>
           <div class="row mb-3"></div>
           <div class="mob">
            <img class="mob_image" src="/static/zombie.jpg" alt="ЗОМБИ">
            <a class="mob_selector" href="/zombie"> ЗОМБИ </a>
            <div class="version">0.24</div>
           </div>
           <div class="row mb-3"></div>
           <div class="mob">
            <img class="mob_image" src="/static/spider.jpg" alt="ПАУК">
            <a class="mob_selector" href="/spider"> ПАУК </a>
            <div class="version">a1.8</div>
           </div>
           <div class="row mb-3"></div>
           <div class="mob">
            <img class="mob_image" src="/static/enderman.jpeg" alt="ЭНДЕРМЕН">
            <a class="mob_selector" href="/enderman"> ЭНДЕРМЕН </a>
            <div class="version">b1.8</div>
           </div>
           <div class="row mb-3"></div>
           <div class="mob">
            <img class="mob_image" src="/static/creeper.jpg" alt="КРИПЕР">
            <a class="mob_selector" href="/creeper"> КРИПЕР </a>
            <div class="version">a1.8</div>
           </div>
        </div>
    </div>
</div>
<div class="bottombot">
    <div class="navbot">
        {% for item in nav %}
          <li class="nav-item">
            <a class="nav-link {% if item.title == name %} active {% endif %}" aria-current="page"
              href="{{ item.URL }}">{{ item.title }}</a>
          </li>
    {% endfor %}
    <div >Created by Innokentiy Kazarin</div>
</div>
</div>
{% endblock %}